<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/general/css/about.css">
	<%- include('../../partials/general/head'); %>
</head>
<body class="container">

<header>
	<%- include('../../partials/general/header'); %>
</header>

<main class="main">
	<h1>
		În misiunea de a face din second-hand prima alegere
	</h1>
	<p style="margin-top: 3rem ;">
		Second-hand este o alegere grozavă și îți vom demonstra acest lucru. Vinde ce nu-ți mai trebuie sau cumpără piese unice pe care nu le vei găsi în magazine. Vinted este deschis tuturor celor care cred că articolele de calitate ar trebui să trăiască mult timp
	</p>

	<img class="image" style="margin-top: 3rem;" src="/images/about.webp" />
	<h1 class="main" style="margin-top: 5rem;">
		O idee simplă unește acum o comunitate de milioane de oameni
	</h1>
	<div class="idea_box">
		<div class="idea_entry">
			<h1>
				De la un start-up lituanian
			</h1>
			<p>
				Totul a început în 2008, când fondatoarea noastră Milda Mitkute era în toiul mutării și a constatat că avea prea multe haine. Justas Janauskas a ajutat-o, creând un website prin care să-și poată oferi hainele prietenilor. După puțin timp, conceptul a avut ecou în media. Cei doi și-au dat seama că avuseseră o foarte bună intuiție. Așa s-a născut Vinted.
			</p>
		</div>
		<div class="idea_entry">
			<h1>
				De la un start-up lituanian
			</h1>
			<p>
				Totul a început în 2008, când fondatoarea noastră Milda Mitkute era în toiul mutării și a constatat că avea prea multe haine. Justas Janauskas a ajutat-o, creând un website prin care să-și poată oferi hainele prietenilor. După puțin timp, conceptul a avut ecou în media. Cei doi și-au dat seama că avuseseră o foarte bună intuiție. Așa s-a născut Vinted.
			</p>
		</div>
		<div class="idea_entry">
			<h1>
				De la un start-up lituanian
			</h1>
			<p>
				Totul a început în 2008, când fondatoarea noastră Milda Mitkute era în toiul mutării și a constatat că avea prea multe haine. Justas Janauskas a ajutat-o, creând un website prin care să-și poată oferi hainele prietenilor. După puțin timp, conceptul a avut ecou în media. Cei doi și-au dat seama că avuseseră o foarte bună intuiție. Așa s-a născut Vinted.
			</p>
		</div>
		<div class="idea_entry">
			<h1>
				De la un start-up lituanian
			</h1>
			<p>
				Totul a început în 2008, când fondatoarea noastră Milda Mitkute era în toiul mutării și a constatat că avea prea multe haine. Justas Janauskas a ajutat-o, creând un website prin care să-și poată oferi hainele prietenilor. După puțin timp, conceptul a avut ecou în media. Cei doi și-au dat seama că avuseseră o foarte bună intuiție. Așa s-a născut Vinted.
			</p>
		</div>

	</div>
</main>

<%- include('../../partials/general/footer'); %>

</body>
</html>